@import '../../node_modules/bootstrap/scss/bootstrap.scss';


$rang-matn : #2222 ;
$body : #4444 ;
$headers : #4a0c0c22;

$rangmat: #444;


$fontp :  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$yellow : rgb(218, 255, 5) 240, 227, 0.922 ; 


